.skill_wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 376px) {
  .skill_wrapper {
    display: flex;
    flex-direction: column;
    height:980px ;
    justify-content: space-between;
  }
}
